<div id="<%= dom_id tour %>">
  <p>
    <strong>Title:</strong>
    <%= tour.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tour.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tour.price %>
  </p>

</div>
